@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Organetto";
  src: url("../public/fonts/Organetto-UltraBoldSemiExt.ttf");
}

@layer base {
  html {
    font-family: bebas-neue-pro-expanded, sans-serif;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #111827;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-outline {
  -webkit-text-stroke: 2px #fff;
}

.service-item--bordered::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: #a1a1a1 2px solid;
  padding-top: 1rem;
}

.service-body {
  overflow-y: hidden;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
}

.service-heading {
  color: transparent;
  -webkit-text-stroke: 2px #fff;
  transition: all 0.8s ease-out;
  -webkit-transition: all 0.8s ease-out;
}

.active > .service-heading {
  color: white;
  -webkit-text-stroke: 0px;
}

.active > .service-body {
  margin-bottom: 2rem;
}

.service-image {
  z-index: 1;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
}

.service-image.active {
  z-index: 3;
}

.service-image.previous {
  z-index: 2;
}

/* ANIMATIONS */
.slide-enter {
  opacity: 0;
}
.slide-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in-out;
}
.slide-exit {
  opacity: 1;
}
.slide-exit-active {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}
